@font-face {
  font-family: "iconfont"; /* Project id 2924115 */
  src: url('iconfont.woff2?t=1636442437639') format('woff2'),
       url('iconfont.woff?t=1636442437639') format('woff'),
       url('iconfont.ttf?t=1636442437639') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghu:before {
  content: "\e6f1";
}

.icon-tuichudenglu:before {
  content: "\e60b";
}

.icon-yonghutouxiang:before {
  content: "\e606";
}

.icon-shouye:before {
  content: "\e62d";
}

